div(class="row")
    div(class="b-tittle col-md-6 col-md-offset-3 text-center")
        h1(class="text-uppercase b-tittle__h1 bold") liava
        h1(class="text-uppercase b-tittle__h1") Front-end</br>developer
        span(class="text-uppercase text-red b-tittle__loader-span") *
        div(class="b-tittle__description") <b>Легкодымов Лев</b> &mdash; веб-разработчик с опытом работы более 3-х лет.</br> Пишу адаптивные сайты, веб-сервисы и кроссплатформенные HTML5 приложения.</br> Думаю Вам будет интересно глянуть на исходники моих проектов

        div(class="b-tittle__list row")
            a(class="b-tittle__list__item col-xs col-sm-4 bold" href="https://github.com/l-liava-l")
                img(src="img/github.png" class="b-tittle__list__item__github")
                span(class="portret-hidden") &nbsp;&nbsp;Github.com/l-liava-l

            a(class="b-tittle__list__item col-xs col-sm-4 bold" href="https://github.com/l-liava-l")
                img(src="img/js.jpg" class="b-tittle__list__item__github")
                span(class="portret-hidden") &nbsp;&nbsp;Javascript.ru/l-liava-l

            a(class="b-tittle__list__item col-xs col-sm-4" href="https://github.com/l-liava-l")
                img(src="img/brain.png" class="b-tittle__list__item__brainstorage")







