
div(class="row b-header")
    div(class="col-md-6 col-md-offset-3")
       div(class="text-uppercase bold")
           img(class="img-rounded b-header__logo" src="img/logo.png")
           span(class="b-header__name") liava
           span(class="b-header__phone") 8 (967) 646-53-75

